<p>Componente de Vuelos</p>
<div class="navLinks">
    <a [routerLink] = "['./main']">Principal</a> |
    <a [routerLink] = "['./mas-info']">Más Información</a> |
    <a [routerLink] = "['./', 5]">Vuelo número 5</a> |    
</div>

<router-outlet></router-outlet>
