<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{ posicion }}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{ destino.nombre }}</h3>
        <p>Servicios Incluidos</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch] = "s">
                    <i *ngSwitchCase="'Gimnasio'" style="color: red">{{ s }}</i>
                    <i *ngSwitchDefault>{{ s }}</i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="votarBien()"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="votarMal()"><i class="material-icons md-18">thumb_down</i></a>
            <a href="#" (click)="resetearVotos()"><i class="material-icons md-18">settings_backup_restore</i></a>
            {{ destino.votos }}
        </div>
        <a href="#"	class="btn-card" (click)="ir()">Ir!</a>
        <span *ngIf="destino.esSeleccionado()"> 
            <span ngNonBindable>{{ Seleccionado }} </span> 
        </span>
        <a [routerLink]="['/destino', destino.id]">Ver Destino</a>
    </div>
</div>