<div class="container content">
  
  <div class="page-header">
    <div style="float: right;">
      <select (change)="cambio($event)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="container">
      <h1>Ruteando</h1>
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" [routerLink]="['/inicio']">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/protected']">Protegido</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/vuelos']">Vuelos</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/reservas']">Reservas</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
  </div>

  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async}}