<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3	class="mb-0">Lista de Deseos</h3>
                </div>
                <div class="card-body">
                    <app-formulario-destino-viaje (onItemAgregado) = "agregado($event)"></app-formulario-destino-viaje>
                </div>
            </div>
        </div>
    </div>

    <hr	class="mb-5">
  
    <div class="row row-flex">
        <app-destino-viaje 
            *ngFor="let d of todos; let x=index;" 
                [destino]="d"
                [indice] = "x+1"
                (cliqueado)="seleccionado(d)"
        ></app-destino-viaje>
    </div>

    <hr	class="mb-5">
  
    <div class="row row-flex">
        <h5>Actualizaciones de seleccionados</h5>
        <ul>
            <li *ngFor = "let act of actualizaciones;">{{act}}</li>
        </ul>
    </div>
</div>