<form
    [formGroup] = "fg"
    (ngSubmit) = "guardar(fg.controls['nombre'].value, fg.controls['url'].value)"
>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control"	id="nombre"	placeholder="Ingresar nombre..."
            formControlName = "nombre"
        >
        <ul>
            <li *ngFor="let res of resultadosBuscados">{{res}}</li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')" class="alert alert-danger" role="alert">Nombre es requerido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('NombreInvalido')" class="alert alert-danger" role="alert">Nombre es Invalido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('MinimaLongitudNombre')" class="alert alert-danger" role="alert">Nombre debe tener al menos {{ minLongitud }}!</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control"	id="imagenUrl" placeholder="Ingresar url..."
        formControlName = "url"
        >
        <div *ngIf="!fg.controls['url'].valid" class="alert alert-danger" role="alert">URL es requerido!</div>
    </div>
    <button	type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>